<header>
    {% if page.title %}
    <div class="intro-header interior-header no-img">
        <div class="container-md">
            <div class="row">
                <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                    <div class="{{ include.type }}-heading">
                        <h1>{{ page.title }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if page.show-voting-header %}
    <div class="intro-header no-img voting-header">
        <div class="container-md">
            <div class="row">
                <div class="col-xl-11 offset-xl-2 col-lg-12 offset-lg-1">
                    <div class="row">
                        <div class="col-sm-6">
                          <h1>How do I vote?</h1>
                          <p>Download our quick reference guide and make sure your voice is heard.</p>
                          <a href="../assets/img/movpcvoter-guide.jpg" class="btn btn-primary" download>Download the Guide</a>
                        </div>
                        <div class="col-sm-6 d-flex align-items-end">
                          <img src="../assets/img/Voter_Handout_CTA_Image.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>
    <div class="sub-header">
        <div class="container-md">
            <div class="row">
                <div class="col-xl-11 offset-xl-2 col-lg-12 offset-lg-1">
                    <div class="row">
                        <div class="col-12 sub-header-content">
                            <h2>Get My Ballot Notarized</h2>
                            <a href="find-a-notary" class="btn btn-primary">Find A Notary</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    {% endif %}
</header>