.intro-header .page-heading h1 {
	font-size: 3rem;
	margin-top: 1rem;
}

.navbar-custom .navbar-brand-logo img {
	height: 5rem;
}

#action-cards {
    margin-top: 10rem;
}

.form-check {
	padding-left: 0;
}

.form-check ul {
	padding-left: 1.25rem;
}