.intro-header .page-heading h1 {
	font-size: 3rem;
	margin-top: 1rem;
}

.navbar-custom .navbar-brand-logo img {
	height: 5rem;
}

#action-cards {
    margin-top: 10rem;
}

/* voting sub header */
.voting-header {
	background-color: #a71c25;
	color: #ffff;
	padding-top: 2rem;
	margin-top: 5.125rem;
}

@media (min-width: 768px) {
	.voting-header {
		padding-top: 3rem;
		margin-top: 6.125rem;
	}
}
