---
layout: page
---

<div class="container" id="action-cards">
  <div class="row">
    <div class="col-sm-6">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Get Your Ballot Notarized</h5>
          <p class="card-text">Need your ballot notarized? We'll help you find a notary.</p>
          <a href="find-a-notary" class="btn btn-primary">Find A Notary</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Help Notarize Ballots</h5>
          <p class="card-text">Already a notary? Volunteer to notarize ballots.</p>
          <a href="volunteer" class="btn btn-primary">Volunteer</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Become A Notary</h5>
          <p class="card-text">Interested in becoming a notary so that you can notarize ballots? We'll walk you through the process</p>
          <a href="become-a-notary" class="btn btn-primary">Become A Notary</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Organizations</h5>
          <p class="card-text">Do you represent an organization that wants to host a notarization drive? We'll connect you to notaries.</p>
          <a href="organizations" class="btn btn-primary">Get Connected</a>
        </div>
      </div>
    </div>
  </div>
</div>

  


